








/*Remove news Icons from top banner*/
.top-header-nrn-button-wrap{
    display: none !important;
}
/*Setting background color for the top banner*/
.digital_newspaper_main_body .site-header.layout--default .top-header{
background: #3066BE;
}

/*Setting background color for main banner*/
.site-header.layout--default .site-branding-section 
{
background-color: #EDF2FB;
}


/*Force header-menu to float right*/
#header-menu{
float: right;
}

.menu_txt{
color: black;
}
#digital_newspaper_menu_burger span{
background-color: black;
}

header .main-header{
  box-shadow: unset;
}




#masthead{
padding-bottom: 0;
}



body.page #theme-content .row .primary-content{
background: inherit;
}

/*Moving content into the center of the page*/
.secondary-sidebar{
display: none;
}
#theme-content .row {
justify-content: center;
}

/*Removing news carosel*/
#bottom-full-width-section{
display: none;
}











#certifiedRow, #ltdRow{
  display: flex;
justify-content: center;
padding: 10px 0;
}
#ltdFooterText{
color: #010080;
text-decoration: bold;	
}



/*------------------Footer-----------------*/


#colophon{
background-color: #EDF2FB;
}
/*Removing top boarder in footer*/
.site-footer.dark_bk{
border-top: unset;
}

/*Styling the certification logos*/
#certifiedLogosContainer{
  display: flex;
justify-content: center;
}
.certification-logo{
padding: 0 100px;
}
.certification-logo img{
height: 150px;
}



/*Containing footer-inner in a flex and centering items, this begins from below "sub aquatic technical systems ltd" and ends at the social icons*/
.footer-inner {
display: flex;
justify-content: center;
}

/*This is styling the columns for the footer navigation*/
.footer-inner .column-three{
  display: inline-block;
  width: 230px; 
	margin: 0 20px;
	padding: 0 20px;
	/* Adjust the width based on the number of columns */
  vertical-align: top;
}
/* Style the list items */
.footer-widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-widget ul a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px;
}
.footer-widget ul a:hover {
  background-color: #ddd;
}






#satSysTriangle .digital-newspaper-container{
  justify-content: left;
}
#satSysTriangle img {
  width: 150px;
}

#footerBottomSection .digital-newspaper-container{
  justify-content: left;
}
#footerBottomSection .digital-newspaper-container .row{
  width: 200px;
}
#footerBottomSection .digital-newspaper-container .row p {
  font-size: small;
}


#policiesRow{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#policiesRow ul{
  display: inline-flex;
  width: max-content;
}
#policiesRow ul a{
  width: 200px;
  text-align: center;
}


ul.social-icons-footer{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
img.footer-social-icons{
max-width: 30px;
margin: 10px;
}