@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}

#policiesRow a, .footer-widget ul a, .row a {
  text-decoration: none
}

#certifiedRow, #ltdRow, #theme-content .row {
  justify-content: center
}

.site-footer {
  margin-top: 2%;
}

.footer-widget ul, .product-list ul {
  list-style-type: none;
  padding: 0
}

#footerBottomSection .digital-newspaper-container .row, .wp-block-embed iframe, body, html {
  width: 100%
}

.top-header-nrn-button-wrap {
  display: none !important
}

.digital_newspaper_main_body .site-header.layout--default .top-header {
  background: #3066be
}

#colophon, .site-header.layout--default .site-branding-section {
  background-color: #edf2fb
}

#header-menu {
  float: right
}

.menu_txt {
  color: #000
}

#digital_newspaper_menu_burger span {
  background-color: #000
}

header .main-header {
  box-shadow: unset
}

#masthead {
  padding-bottom: 0
}

body.page #theme-content .row .primary-content {
  background: inherit
}

#bottom-full-width-section, .blaze-switcher-button, .entry-title, .expand-button-up, .secondary-sidebar, .spec-table {
  display: none
}

#certifiedRow, #ltdRow {
  display: flex;
  padding: 10px 0
}

#ltdFooterText {
  color: #010080;
  text-decoration: bold
}

.site-footer.dark_bk {
  border-top: unset
}

#certifiedLogosContainer, #post-320, .footer-inner {
  display: flex;
  justify-content: center
}

.certification-logo {
  padding: 0 10px
}

.certification-logo img {
  height: 150px
}

.footer-inner .column-three {
  display: inline-block;
  width: 230px;
  margin: 0 20px;
  padding: 0 20px;
  vertical-align: top
}

.footer-widget ul, .header-text h1, .header-text h2 {
  margin: 0
}

.footer-widget ul a {
  display: block;
  color: #333;
  padding: 0;
  width: 33%
}

.footer-widget ul a:hover {
  background-color: #ddd
}

#satSysTriangle .digital-newspaper-container {
  justify-content: left
}

#satSysTriangle img {
  width: 50%
}

#footerBottomSection .digital-newspaper-container {
  justify-content: left;
  flex-direction: row
}

#footerBottomSection .digital-newspaper-container .row p {
  font-size: small
}

#policiesRow {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}

#policiesRow ul {
  display: inline-flex;
  width: max-content
}

#policiesRow ul a {
  padding: 0 10px;
  text-align: center
}

ul.social-icons-footer {
  margin: 0;
  padding: 0;
  display: table-row;
  align-items: center
}

img.footer-social-icons {
  max-width: 30px;
  margin: 10px
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%
}

.header-image {
  width: 100%;
  height: 600px;
  max-height: 100%;
  object-fit: cover
}

.header-text, .header-text-category {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.header-text, .header-text-category h1 {
  font-size: 36px
}

.header-text, .header-text-category h2 {
  font-size: 24px
}

@media screen and (max-width:767px) {
  .header-text {
    left: 10px;
    right: 10px;
    padding: 20px
  }

  .header-text h1 {
    font-size: 28px
  }

  .header-text h2 {
    font-size: 18px
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .header-text {
    left: 20px;
    right: 20px;
    padding: 30px
  }
}

@media screen and (min-width:1024px) {
  .header-text {
    left: 50px;
    right: 50px;
    padding: 40px
  }
}

.wp-container-10.wp-container-10, .wp-container-3.wp-container-3, .wp-container-7.wp-container-7 {
  padding: 0 100px
}

.gutena-tabs-block-5dfc77-a9 {
  align-items: center
}

.gutena-tabs-block>.gutena-tabs-content {
  width: 1000px
}

.gutena-tab-title.active {
  background: #010080
}

.certifiedLogosContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

@media screen and (max-width:767px) {
  .wp-container-10.wp-container-10, .wp-container-3.wp-container-3, .wp-container-7.wp-container-7 {
    padding: 0 10px
  }

  .gutena-tabs-block>.gutena-tabs-content {
    width: 100%
  }
}

body, html {
  overflow-x: hidden
}

.certification-logo {
  max-width: 100%;
  height: auto
}

@media screen and (max-width:450px) {
  .certification-logo img {
    max-width: 50%;
    height: auto
  }
}

@media screen and (max-width:1156px) {
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }

  .footer-widget {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px
  }

  .footer-widget, .footer-widget.column-three {
    flex-basis: 100%
  }

  .social-icons-footer {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center
  }

  .footer-widget ul {
    padding-inline-start: 0
  }

  .social-icons-footer a {
    margin: 10px 0
  }

  .footer-widget ul li {
    display: block
  }
}

.product-quantity-wrapper input, .product-quantity-wrapper select, .row a {
  margin-right: 10px
}

#policiesRow a {
  color: #000;
  margin: 0;
}

#footerNewsPaperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.wp-block-button.is-style-outline>.wp-block-button__link {
  color: #fff !important
}

#theme-content {
  background: #edf2fb
}

.header-text {
  width: 50%;
  background: rgba(100, 100, 100, .4)
}

.category-box, .gutena-tabs-block>.gutena-tabs-content>.gutena-tab-block, .wp-block-gutena-tabs {
  background: #bde0fe
}

#lgx_logo_slider_app_667 {
  background-color: #bde0fe;
  padding: 50px 0
}

@media (max-width:768px) {
  #lgx_logo_slider_app_667 .lgx_logo_slider, div.home-intro-columns {
    width: 100% !important
  }

  .home-intro-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px !important
  }

  .header-text {
    width: 100%
  }
}

.content-width-container {
  width: 50%;
  margin: 0 auto
}

.category-box, .category-description, .product-field, .quantity-field {
  margin-bottom: 10px
}

.category-box {
  border: 1px solid #ccc;
  padding: 10px
}

.expand-button, .expand-button-up {
  border: none;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: center
}

.fa .fa-sharp .fa-solid .fa-caret-down, .fa .fa-sharp .fa-solid .fa-caret-up {
  font-size: 30px
}

.product-list {
  display: none;
  margin-top: 10px
}

.product-list li {
  margin-bottom: 5px
}

.download-container {
  padding: 20px 0
}

.download-container a {
  font-size: 20px
}

.industries-products {
  padding: 25px 0 !important
}

.product-link-button {
  text-decoration: none !important
}

body .entry-content a {
  text-decoration: unset !important;
  color: unset !important
}

.industries-tab-title {
  background: #bde0fe;
  margin: 0;
  padding: 10px
}

.psac-post-slider.psac-design-1 {
  padding: 50px 0
}

.product-quantity-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center
}

.row a {
  color: #fffF;
}

#footerNewsPaperContainer a {
  color: #000;
}

#footerNewsPaperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quote-page-columns {
  padding: 0 !important
}